<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133107407167-egto6lunmfpkeu3qcnrlp5ppdsaue31g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133107407167-egto6lunmfpkeu3qcnrlp5ppdsaue31g</string>
	<key>API_KEY</key>
	<string>AIzaSyCjgeM8t3yJJ84E3yFPFLKQFpc0UZ37ZGc</string>
	<key>GCM_SENDER_ID</key>
	<string>133107407167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gyeongdeok.DevBasic</string>
	<key>PROJECT_ID</key>
	<string>devbasic-bf1b1</string>
	<key>STORAGE_BUCKET</key>
	<string>devbasic-bf1b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133107407167:ios:65dcd086d2213110a15b8a</string>
</dict>
</plist>